*{
    margin:0;
    padding:0;
}

body{
    background: cornflowerblue;
    height: 100vh;
}
.register_page{
    width: 100%;
    margin: auto;
}

h1{
    text-align: center;
    margin: 50px 0;
    color: white;
}

/* NavBar */

nav{
    padding: 30px 0;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}
.flexbox{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.flexbox div{
    max-width: 50%;
}
.flexbox div a{
    font-size: 25px;
    color: black;
    padding: 0 20px;
}

/* Formulaire*/
.form{
    position: relative;
    z-index: 1;
    background: #ffff;
    max-width: 25%;
    margin: 20px auto 100px;
    padding: 45px;
}

.form input, .form select{
    font-family: 'Times New Roman', Times, serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form p{
    text-align: center;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.submit{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: cornflowerblue;
}

.form b span{
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.form label{
    text-align: center;
}

#LiBsmt_Qual, #LiAge_house{
    display: none;
}

/* Profile.html */
table{
    text-align:center;
    width:90%;
    margin: 0 auto;
}
td{
    padding: 30px 0;
    border: cornflowerblue 2px solid;
    font-size: 16px;
    width: 6%;
}
th{
    border: cornflowerblue 2px solid;
    color: cornflowerblue;
    font-size: 17px;
    /*position:sticky;*/
}
#predictions{
    width:80%;
    margin: auto;
    background-color: white;
    padding: 40px 0;
    min-height: 50%;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: rgb(55, 55, 243) 5px 5px 5px;
}