{% extends "base.html" %}

{% block content %}
    <div class="register_page">
        <div class="form">
            <form action="{{url_for('main.predict')}}" method="POST">
                <label for="Age_house">
                    <p>Age de la maison<span class="Age_house">      ?</span></p>
                    <span id="LiAge_house">
                        Année actuelle - Année de construction
                    </span>
                    <input type="number" name='Age_house' min="0" placeholder="Ex: 20" required="required">
                </label>
                <label for="Total Bsmt SF">
                    <p>Surface de la cave</p>
                    <input type="number" name='Total Bsmt SF' min="0" placeholder="Ex: 50" required="required">
                </label>
                <label for="1st Flr SF">
                    <p>Surface du premier étage</p>
                    <input type="number" name='1st Flr SF' min="0" placeholder="Ex: 80" required="required">
                </label>
                <label for="Gr Liv Area">
                    <p>Surface habitable au sol</p>
                    <input type="number" name='Gr Liv Area' min="0" placeholder="Ex: 160" required="required">
                </label>
                <label for="Garage Area">
                    <p>Surface du garage</p>
                    <input type="number" name='Garage Area' min="0" placeholder="Ex: 20" required="required">
                </label>
                <label for="Garage Cars">
                    <p>Nombre de places dans le garage</p>
                    <input type="number" name='Garage Cars' min="0" placeholder="Ex: 2" required="required">
                </label>
                <label for="Overall_Qual">
                    <p>Qualité générale des finitions et des matériaux</p>
                    <b><span class="range-result" data-input="Overall_Qual">5</span></b>
                    <input type="range" value="5" min="0" max="10" step="1" name="Overall_Qual" id="Overall_Qual" required="required">
                </label>
                <label for="Bath">
                    <p>Nombre de salle de bain</p>
                    <input type="number" name='Bath' min="0" placeholder="Ex: 1" required="required">
                </label>
                <label for="Bsmt Qual">
                    <p>Evaluez la qualité du sous-sol<span class="Bsmt_Qual">       ?</span></p>
                    <li id="LiBsmt_Qual">
                        <ul>Excellent : 100+ inches</ul>
                        <ul>Good : entre 90 et 99 inches</ul>
                        <ul>Average : entre 80 et 89 inches</ul>
                        <ul>Fair : entre 70 et 79 inches</ul>
                        <ul>Poor : -70 inches</ul>
                    </li>
                    <select name="Bsmt Qual" id="Bsmt Qual">
                        <option value="Excellent">Excellent</option>
                        <option value="Good">Good</option>
                        <option selected="selected" value="Average">Average</option>
                        <option value="Fair">Fair</option>
                        <option value="Poor">Poor</option>
                    </select>
                </label>
                <label for="Kitchen Qual">
                    <p>Qualité des matériaux de la cuisine</p>
                    <select name="Kitchen Qual" id="Kitchen Qual">
                        <option value="Excellent">Excellent</option>
                        <option value="Good">Good</option>
                        <option selected="selected" value="Average">Average</option>
                        <option value="Fair">Fair</option>
                        <option value="Poor">Poor</option>
                    </select>
                </label>
                <label for="Neighborhood">
                    <p>Quartier:</p>
                    <select name="Neighborhood" id="Neighborhood">
                        <option selected="selected" value="Bloomington Heights">Bloomington Heights</option>
                        <option value="Bluestem">Bluestem</option>
                        <option value="Briardale">Briardale</option>
                        <option value="Brookside">Brookside</option>
                        <option value="Clear Creek">Clear Creek</option>
                        <option value="College Creek">College Creek</option>
                        <option value="Crawford">Crawford</option>
                        <option value="Edwards">Edwards</option>
                        <option value="Gilbert">Gilbert</option>
                        <option value="Iowa DOT and Rail Road">Iowa DOT and Rail Road</option>
                        <option value="Meadow Village">Meadow Village</option>
                        <option value="Mitchell">Mitchell</option>
                        <option value="North Ames">North Ames</option>
                        <option value="Northridge">Northridge</option>
                        <option value="Northpark Villa">Northpark Villa</option>
                        <option value="Northridge Heights">Northridge Heights</option>
                        <option value="Northwest Ames">Northwest Ames</option>
                        <option value="Old Town">Old Town</option>
                        <option value="South & West of Iowa State University">South & West of Iowa State University</option>
                        <option value="Sawyer">Sawyer</option>
                        <option value="Sawyer West">Sawyer West</option>
                        <option value="Somerset">Somerset</option>
                        <option value="Stone Brook">Stone Brook</option>
                        <option value="Timberland">Timberland</option>
                        <option value="Veenker">Veenker</option>
                    </select>
                </label>
                <input type="submit" value="predict" class="submit">
            </form>
            <p> La maison vaut: {{data}}</p>
        </div>

    </div>
{% endblock %}